.about-container {
  width: 100vw;
  height: 100%;

  .hero-section {
    background-image: url('../assets/images/AboutImage.jpg');
    @include hero-mix();
    background-position: center;
  }

  .squares-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .dev-squares {
      width: 80%;
      height: 1000px;
      display: grid;
      grid-gap: 75px;
      grid-template-columns: 1fr 1fr;

      .dev-square {
        display: flex;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        background-color: $cardcolor;
        box-shadow: 0 4px 12px rgba(black, .2);

        img {
          max-height: 500px;
          max-width: 400px;
          object-fit: cover;
        }
      }

      .dev-square-text {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        justify-content: flex-start;
        align-items: flex-start;

        .dev-facts {
          display: grid;
          grid-template-columns: 1fr 1fr;

          span {
            font-weight: $bold;
            color: $primarycolor;
          }
        }

        h1 {
          font-size: 2.8rem;

          a {
            color: $primarycolor;
          }
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .button-container {
    width: 100%;
    height: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-btn {
      width: 60%;
      @include base-btn();
    }
  }
}