.about-container {
  width: 100vw;
  height: 100%;

  .hero-section {
    background-image: url('../assets/images/AboutImage.jpg');
    @include hero-mix();
    background-position: center;
  }

  .squares-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .dev-squares {
      width: 80%;
      height: 100%;
      display: grid;
      grid-gap: 75px;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;

      .dev-square {
        display: flex;
        max-width: 450px;
        justify-content: center;
        align-items: center;
        background-color: $cardcolor;
        padding: 40px;
        box-shadow: 0 4px 12px rgba(black, .2);

        img {
          max-height: 400px;
          max-width: 400px;
          object-fit: cover;
        }
      }

      .dev-square-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;
        justify-content: flex-start;
        align-items: flex-start;

        .dev-facts {
          display: grid;
          grid-template-columns: 1fr 1fr;

          span {
            font-weight: $bold;
            color: $primarycolor;
          }
        }

        h1 {
          font-size: 2.8rem;

          a {
            color: $primarycolor;
          }
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .button-container {
    width: 100%;
    height: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-btn {
      width: 60%;
      @include base-btn();
    }
  }
}

// Mid Screens
@media (max-width: 1300px) {
  .about-container {
    .squares-container {
      .dev-squares {
        width: 90%;
        grid-gap: 20px;

        .dev-square {
          img {
            max-width: 400px;
            max-height: 400px;
          }
        }

        .dev-square-text {
          word-break: keep-all;

          h1 {
            font-size: 38px;
          }

          p {
            font-size: 22px;
          }

          .dev-facts {
            font-size: 14px;

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// Small Screens
@media (max-width: 900px) {
  .about-container {
    .squares-container {
      .dev-squares {
        display: flex;
        flex-direction: column;
        height: 100%;

        .dev-square {
          img {
            padding: 20px;
          }
        }

        .dev-square-text {
          h1 {
            font-size: 38px;
          }

          .dev-facts {
            font-size: 1rem;

            span {
              font-size: 1rem;
            }
          }

          &:nth-child(2) {
            order: 4;
          }


        }
      }
    }
  }
}