.home-container {
  width: 100vw;
  height: 100%;

  .hero-section {
    background-image: url('../assets/images/HomeImage.jpg');
    @include hero-mix();

    .learn-btn {
      width: 200px;
      @include base-btn();
    }
  }

  .services-container {
    text-align: center;
    width: 100%;

    h1 {
      padding: 50px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .cards-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 350px;
        padding: 5px;
        background-color: $cardcolor;
        border-radius: 5px;
        box-shadow: 0 4px 12px rgba(black, .2);

        .card-top {
          font-size: 42px;
          color: $primarycolor;
          font-weight: $bold;
        }

        .card-middle {
          font-size: 24px;
        }

        .card-bottom {
          flex-flow: wrap;
          font-size: 28px;
          color: $secondarycolor;
        }
      }
    }
  }

  .technologies-container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding: 50px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .tech-card {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 90%;
      height: 300px;
      background-color: $cardcolor;
      border-radius: 5px;
      box-shadow: 0 4px 12px rgba(black, .2);

      .tech-item {
        height: 160px;
        width: 165px;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: flex-end;


        &:nth-child(1) {
          background-image: url('../assets/techicons/Javascript.png');
        }

        &:nth-child(2) {
          background-image: url('../assets/techicons/React.png');
        }

        &:nth-child(3) {
          background-image: url('../assets/techicons/Windows.png');
        }

        &:nth-child(4) {
          background-image: url('../assets/techicons/Node.png');
        }

        &:nth-child(5) {
          background-image: url('../assets/techicons/Python.png');

        }
      }
    }
  }

  .socials-container {
    height: 100px;
    width: 35vw;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;

    .socials-card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 10px;
      width: 56px;
      height: 52px;
      border-radius: 5px;
      box-shadow: 0 4px 12px rgba(black, .2);
      background-color: $cardcolor;

      a {
        padding: 10px;
        color: $primarycolor;
        font-size: 30px;
      }
    }

  }
}

// Mid Screens
@media (max-width: 1200px) {
  .home-container {
    .services-container {
      .cards-container {
        .card {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-evenly;
          height: 400px;
          width: 28%;
          margin-bottom: 50px;
        }
      }
    }

    .technologies-container {
      .tech-card {
        height: 150px;

        .tech-item {
          height: 100px;
          width: 18%
        }
      }
    }

    .socials-container {
      justify-content: space-evenly;
      width: 100vw;
      font-size: 24px;

      .socials-card {
        font-size: 24px;
      }
    }
  }
}

// Small Screens
@media (max-width: 850px) {
  .home-container {
    .services-container {
      .cards-container {
        flex-direction: column;

        .card {
          display: flex;
          width: 70%;
          height: 350px;
          margin-bottom: 50px;

          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }
    }

    .technologies-container {
      .tech-card {
        height: 150px;

        .tech-item {
          height: 100px;
          width: 18%
        }
      }
    }

    .socials-container {
      justify-content: space-evenly;
      width: 100vw;
      font-size: 24px;

      .socials-card {
        font-size: 24px;
      }
    }
  }
}